/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main Style */

.modal{
  margin-top: 30px;
}
.container{
    max-width: 520px;
    margin: 0 auto;
    background-color: orange;
    border-radius: 10px;
}
.heading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
}

input{
    border : 2px solid grey;
    padding: 10px;
    font-size: 20px;
    width: 95%;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: azure;
    
}
.form_subtitle{
    text-align: center;
    font-size: 18px;
    margin: 12px 0;
}
/* li{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
/* span:hover{
  visibility: visible;
  color: #EAD7D7;
} */

.form_button, .form__button{
  font-size: 16px;
  padding: 15px 25px;
  font-size: 12px;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  border: 0;
  display: inline-block;
  background-color: #eb0fb4;
  border-radius: 10px;
  /* margin-right: 55px; */
  margin-bottom: 14px;
}

.form__button{
  margin-left: 200px ;
}

button:hover{
  /* background-color: #ffffff; */
  background-color: black;
  color: white;
}
.selected{
  background: white !important;
  border: 1px solid !important;
  color: black !important;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
p{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    text-transform: capitalize;
}

.book_list{
  /* margin: 20px auto; */
  text-align: center;
  margin-top: 20px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  justify-content:space-evenly
}


  
  
  
  
  
  
  